.DS_Store
desktop.ini

# node
node_modules

# static build
build

# secrets
.env
.env.*
!.env.example
cookies.json
keys.json

# docker
docker-compose.yml

# ide
.vscode
__pycache__/
*.py[cod]
__pycache__/main.cpython-311.pyc
__pycache__/url.cpython-311.pyc
